@{
    ViewData["Title"] = "Exam Reports";
}

<h2>📊 Exam Analytics Report</h2>

<div class="row">

    <div class="col-md-4">

        <div class="card text-center shadow">
            <div class="card-body">

                <h4>Total Violations</h4>
                <h2 id="totalViolations">0</h2>

            </div>
        </div>

    </div>

    <div class="col-md-4">

        <div class="card text-center shadow">
            <div class="card-body">

                <h4>Integrity Score</h4>
                <h2 id="finalScore">100%</h2>

            </div>
        </div>

    </div>

    <div class="col-md-4">

        <div class="card text-center shadow">
            <div class="card-body">

                <h4>Exam Status</h4>
                <h2 id="examStatus">Completed</h2>

            </div>
        </div>

    </div>

</div>

<br>

<div class="card shadow">

    <div class="card-header">
        📈 Violation Graph
    </div>

    <div class="card-body">

        <canvas id="violationChart"></canvas>

    </div>

</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>

    var logs = JSON.parse(localStorage.getItem("violationLog")) || [];

    var totalViolations = logs.length;

    document.getElementById("totalViolations").innerText = totalViolations;

    var score = 100 - (totalViolations * 5);

    if(score < 0){
    score = 0;
    }

    document.getElementById("finalScore").innerText = score + "%";


    /* CREATE CHART */

    var labels = [];
    var data = [];

    logs.forEach(function(log){

    labels.push(log.time);
    data.push(1);

    });

    var ctx = document.getElementById('violationChart');

    new Chart(ctx, {

    type: 'line',

    data: {

    labels: labels,

    datasets: [{

    label: 'Violations Detected',

    data: data,

    borderWidth: 3

    }]

    }

    });

</script>